body {
    background-color: #dcdcdc;
}
input{
    max-width: 100px;
}
label {
    font-size: 24px;
    min-width: 150px;
}
#submit {
    font-size: 18px;
    height: 50px;
    width: 200px;
}
#numIncludeChecked:checked ~ #number-input{
    opacity: 0;
    animation: fadein .5s linear forwards;
}
#number-input{
    opacity: 0;
}
#symbolIncludeChecked:checked ~ #symbol-input{
    opacity: 0;
    animation: fadein .5s linear forwards;
}
#symbol-input{
    opacity: 0;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#generated-password, #generated-error{
    font-size: 24px;
    height: 250px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    max-width: 50%;
    overflow: auto;
    border-radius: 25px;
}
.container {
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    max-width: 33%;
}
.xkcd-img {
	height: 350px;
	width:350px;
}
